.nav ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    left: 0;
    background-color: #274c5b;
    padding: 10px !important;
    list-style: none;
}
.nav .h-menu:hover .submenu {
    display: block;
    cursor: pointer;
}
.hover_submenu:hover {
  color: #7EB693 !important;
  cursor:  pointer !important;
   
}

.headerfonts:hover{
    color: #7EB693 !important;
}

.nav .search_icon{
    background-color: #7EB693;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    top: 0;
    right: 8px;
}
input.form-control.me-2 {
    border: none;
    background-color: #FAFAFA;
    border-radius: 36px;
    width: 290px;
    height: 38px;
}
button.cart {
    border: 1px solid;
    width: fit-content;
    height: 35px;
    border-radius: 33px;
}
.iconsty {
    background-color: #274C5B;
    color: white;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    border-radius: 33px;
    border:1px solid #E0E0E0;
    display:inline-block;
}